/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*  _            _    _                     _  */
/* | |__ _  _ __| |__| |__ _ _  _   __ __ _| | */
/* | '_ \ || / _` / _` / _` | || | / _/ _` | | */
/* |_.__/\_,_\__,_\__,_\__,_|\_, | \__\__,_|_| */
/*                           |__/              */


/* ==========================================================================
   Base styles for task
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    background: #eaf0f2;
    background: #27303a;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.app {
    width: 1024px;
    margin: 0 auto;
    background: #eaf0f2;
}

.app__content {
    padding: 24px 38px 120px;
    color: #5b6a76;
    overflow: auto;
}

.app__header {
    margin: 0;
    padding: 24px 38px;
    background: #1789ec;
    color: #ffffff;
    font-weight: 300;

}

.intro {
    display: -webkit-flex;
    display: flex;
    font-size: 14px;
}

.intro__task {
    -webkit-flex: 5;
    flex: 5;
    margin: 24px;
    padding: 12px 24px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
}

.intro__example {
    margin-top: 12px;
    width: 100%;
}

.intro__helpers {
    margin-top: 24px;
    -webkit-flex: 2;
    flex: 2;
    font-size: 12px;
    line-height: 1.5;
}

.intro__helpers li {
    margin-bottom: 24px;
}

.app__border {
    max-width: 80%;
}

.app__inputs {
    display: -webkit-flex;
    display: flex;
}

.app__txt, .app__input {
    font-family: 'Source Code Pro', monospace;
    border: 1px solid #ccd1d3;
    border-radius: 3px;
}

.app__txt {
    -webkit-flex: 3;
    flex: 3;
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;
    border: 1px solid #ccd1d3;
    border-radius: 3px;
    margin: 0 16px;
    padding: 12px;
    width: 60%;
    height: 300px;
}

.app__actions {
    -webkit-flex: 2;
    flex: 2;
    margin-left: 10px;
    float: left;
    width: 48%;
}
.app__actions + .app__actions{
    float: right;
}
/***********************/
.gameWrap{
    border: solid 1px #d6d6d6;
    height: 400px;
    width: 100%;
}
.boxWrap{
    width: 300px;
    height: 300px;
    overflow: hidden;
    float: right;
    margin: 20px 20px 0 0;
}
.singBox{
    width: 100px;
    height: 100px;
    float: left;
    font-size: 75px;
    position: relative;
    color: #fff;
}
.singBox:nth-of-type(9n + 1) {
    background: #555e7a;
}
.singBox:nth-of-type(9n + 2) {
    background: #a0d203;
}
.singBox:nth-of-type(9n + 3) {
    background: #c87e99;
}
.singBox:nth-of-type(9n + 4) {
    background: #7ccae3;
}
.singBox:nth-of-type(9n + 5) {
    background: #e64a33;
}
.singBox:nth-of-type(9n + 6) {
    background: #0359cd;
}
.singBox:nth-of-type(9n + 7) {
    background: #ff29a9;
}
.singBox:nth-of-type(9n + 8) {
    background: #28cdfc;
}
.singBox:nth-of-type(9n + 9) {
    background: #ff9a04;
}

.singBoxSign{
    width: 100px;
    height: 100px;
    float: left;
    font-size: 75px;
    position: relative;
    color: #000;
    cursor: pointer;
    display: inline-block;
}
.singBoxSign:before,.singBox:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.singBoxSign.cross:before,.singBox.cross:before{
    content: "X";
}
.singBoxSign.zero:before,.singBox.zero:before{
    content: "O";
}

.playerInfo{
    float: left;
    padding: 20px 0 0 20px;
}
.playerInfoHighigher{
    outline: 3px solid black;
}
#showMsg{
    font-size: 30px;
    padding: 0 0 20px 0;
}
#resetGame{
    cursor: pointer;
    font-size: 12px;
    display: block;
    margin: 40px 0 0;
    color:#1789ec;
    clear: both;
    float: left;
}
#resetGame:hover{
    text-decoration: underline;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

label {
    display: block;
    margin-bottom: 6px;
}

.border-line {
    height: 1px;
    border: none;
    margin: 36px auto;
    background: -moz-linear-gradient(left, rgba(117,136,151,0) 0%, rgba(117,136,151,1) 50%, rgba(117,136,151,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,136,151,0)), color-stop(50%, rgba(117,136,151,0.3)), color-stop(100%, rgba(117,136,151,0)));
    background: -webkit-linear-gradient(left, rgba(117,136,151,0) 0%, rgba(117,136,151,0.3) 50%, rgba(117,136,151,0) 100%);
    background: -o-linear-gradient(left, rgba(117,136,151,0) 0%, rgba(117,136,151,0.3) 50%, rgba(117,136,151,0) 100%);
    background: -ms-linear-gradient(left, rgba(117,136,151,0) 0%, rgba(117,136,151,0.3) 50%, rgba(117,136,151,0) 100%);
    background: linear-gradient(to right, rgba(117,136,151,0) 0%, rgba(117,136,151,0.3) 50%, rgba(117,136,151,0) 100%);
}

code, pre {
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;
    background: #f5fafc;
    padding: 1px 6px;
}
